<div class="row mt-5" style="float: left; width:60%">
    <div class="col">

    </div> 
    <div class="col-4">
        <div class="card shadow">
                <div class="card-body">
                    <div class="col">
                        <div style="font-size: 20px; float: right;"><a href="landing"><span> <pre><i class="fa-solid fa-xmark" style="color: red;"></i></pre></span></a></div>
                    </div>
                    <br>
                    <form>
                        <div class="mb-3">
                           
                            <!-- <h4 class="text-danger text-muted"> Welcome</h4> -->
                        </div>
                    </form>
                    <div class="mb-3 ml-0">
                      

                        <!-- / -->
                        <p class="text-muted " style="font-size: 15px;">Link has sent on your email. Please verify it.</p>
                      
                    </div>              
                </div>
        </div>
        
    </div>
</div>


